<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.example.loading.helloworld"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.BROADCAST_STICKY"/>
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT"/>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".MainActivity"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ReportTable"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".SurfaceViewTestActivity"
            android:label="@string/hello_surface">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".lottie.LottieTestActivity"
            android:label="Hello Lottie">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ViewDrawingOrderTestActivity"
            android:label="Hello Drawing Order"/>

        <activity
            android:name=".activity.SportsTestActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            />

        <activity
            android:name=".activity.UITestActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".activity.ConstraintLayoutTestActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            />

        <activity
            android:name=".activity.RecyclerViewTestActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.MiscTestActivity"
            android:configChanges="orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.SortTestActivity"
            android:configChanges="orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.misc.RxJavaTestActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>

        <service android:name=".MemoryMonitorService"/>

        <activity
            android:name=".download.SocketServerActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".download.SocketClientActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            />
    </application>

</manifest>
