<manifest package="com.loading.flutterbridge"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".demo.FlutterTestActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".activity.FlutterContainerActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            />

        <activity
            android:name=".activity.TinySportsMainActivity"
            android:configChanges="orientation"
            android:icon="@drawable/ic_launcher_qqsports"
            android:label="@string/tiny_sports_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
